<h1 mat-dialog-title>Do you really want to revoke this credential?</h1>
<!-- <div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div> -->
<div mat-dialog-actions class="btn-row">
  <button mat-button mat-dialog-close>NO</button>
  <button mat-button (click)="handleDelete()" cdkFocusInitial>YES</button>
</div>
