<div class="margin flex" fxLayout="colum" fxLayoutAlign="center center">
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>User</mat-label>
      <input matInput name="dbUser" type="text" formControlName="dbUser" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        name="dbPassword"
        type="password"
        formControlName="dbPassword"
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Host</mat-label>
      <input
        matInput
        name="dbHost"
        type="text"
        formControlName="dbHost"
        placeholder="127.0.0.1:8080"
      />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Database Name</mat-label>
      <input matInput name="dbName" type="text" formControlName="dbName" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Drive</mat-label>
      <input matInput name="dbDrive" type="text" formControlName="dbDrive" />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Salt</mat-label>
      <input matInput name="salt" type="text" formControlName="salt" />
    </mat-form-field>
    <br />

    <button
      mat-raised-button
      class="btn"
      (click)="onSendData()"
      [disabled]="!form.valid"
      color="primary"
    >
      Save
    </button>
  </form>
</div>
