<!-- Toolbar -->
<mat-toolbar
  class="app-header bg-orange"
  fxLayout="row"
  fxLayoutAlign="end center"
>
  <span class="nav-tool-items">
    <a
      mat-button
      routerLink="login"
      routerLinkActive="active"
      *ngIf="!isLogedIn(); else btnLogout"
      >Log in</a
    >
    <ng-template #btnLogout>
      <button mat-button (click)="handleLogout()">Log out</button>
    </ng-template>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
