<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input id="login" name="login" [(ngModel)]="login" type="text" matInput placeholder="Login">
            <mat-error *ngIf="invalidLogin">
              Errado sa merda
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput id="password" name="password" type="password" [(ngModel)]="password" matInput placeholder="Password">
            <mat-error *ngIf="invalidLogin">
              Errado sa merda
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button  (click)=handleLogin() class="btn-block">Log in</button>
      </form>
    </mat-card>
  
  </div>