.container {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;

  .list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .list-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;

    mat-card {
      margin: 0px 10px;

      mat-card-actions {
        display: flex;
        flex-direction: row;
        flex-direction: row-reverse;
      }
    }
  }
}
