<div class="container">
  <div class="list-header">
    <h1>Credenciais</h1>
    <button mat-raised-button [routerLink]="['/form']" color="primary">
      New Credential
    </button>
  </div>
  <div class="list-body">
    <mat-card class="example-card" *ngFor="let cred of credentials$ | async">
      <mat-card-header>{{ cred.hash }} </mat-card-header>
      <mat-card-content>
        <ul>
          <li>DbUser: {{ cred.dbUser }}</li>
          <li>DbPassword: {{ cred.dbPassword }}</li>
          <li>DbHost: {{ cred.dbHost }}</li>
          <li>DbName: {{ cred.dbName }}</li>
          <li>DbDrive: {{ cred.dbDrive }}</li>
          <li>salt: {{ cred.salt }}</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="openDeleteDialog(cred)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
